
    <div class="nav-wrap d-flex flex-row align-items-center">
    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li>
                <a href="{{ '/' | relative_url }}">Home</a>
            </li>
            <li>
                <a href="{{ 'literacy' | relative_url }}">Literacy</a>
            </li>
            <li>
                <a href="{{ 'textbooks' | relative_url }}">Textbooks</a>
            </li>
            <li>
                <a href="{{ 'about' | relative_url }}">Company Profile</a>
            </li>
            <li>
                <a href="{{ 'contact' | relative_url }}">Contact</a>
            </li>
            <li>
                <a href="{{ 'blog' | relative_url }}">News & Blog</a>
            </li>
        </ul>
    </nav>
    <a class="genric-btn" href="{{ site.request-demo }}">Free trial</a>
</div>
<!-- #nav-menu-container -->

