
    <!-- Start hero-section -->

        <div class="container pt-40">
            <div class="row">
                <div class="col ">
                    <h2>
                        Why Digitise your Curriculum with Octavo?
                    </h2>
                    <p class="pt-20 pb-20 ">
                        Octavo creates an online learning ecosystem designed to meet the needs of students growing up as digital natives. A hierarchical structure allows schools and organisations to assign roles carrying different usage rights, group users into classrooms and track students’ progress through multiple analytical tools. 
                    </p>
                </div>
<!--
                <div class="col-lg-6 col-md-6 text-center">
                    <img class="img-fluid" src={{ site.hero_product_image }} alt="">
                </div>
    -->
            </div>
        </div>

    </section>
    <!-- End hero-section -->
