
    <!-- Start hero-section -->

        <div class="container pt-40">
            <div class="row align-items-center justyify-content-between">
                <div class="col-lg-6 about-left">
                    <h2>
                        Breaking Down Barriers in Content Distribution
                    </h2>
                    <p class="pt-20 pb-20 ">
                        Octavo also provides a digital medium for well-established publications to be carried internationally. At the core of our internationalisation effort is our team of distributors – with a vast network of agents active within schools and organisations across the globe, hosting your content on Octavo creates an efficient and accessible method to distribute your content among a growing international audience.   
                    </p>
                </div>
<!--
                <div class="col-lg-6 col-md-6 text-center">
                    <img class="img-fluid" src={{ site.hero_product_image }} alt="">
                </div>
    -->
            </div>
        </div>

    </section>
    <!-- End hero-section -->
