
    <!-- Start hero-section -->

        <div class="container pt-40">
            <div class="row align-items-center justyify-content-between">
                <div class="col-lg-6 about-left">
                    <h2>
                        A Digital Hosting Platform for Publishers and Distributors
                    </h2>
                    <p class="pt-20 pb-20 ">
                        Backed by a team of experienced publishers, Octavo provides a digital hosting platform for your books, together with the help and guidance needed to digitise your existing works or create digital-only content.  
                    </p>
                </div>
<!--
                <div class="col-lg-6 col-md-6 text-center">
                    <img class="img-fluid" src={{ site.hero_product_image }} alt="">
                </div>
    -->
            </div>
        </div>

    </section>
    <!-- End hero-section -->
