
    <!-- Start about section -->
    <section class="about-section section-gap">
        <div class="container">
            <div class="row">
                <h1>
                    Who We Are:
                </h1>
                <p class="pt-20 pb-10">
                    At Octavo, we’re committed to furthering education for current and future generations, as well as developing digital textbooks as an additional tool to facilitate learning. We believe that high-quality content, coupled with ease of use and accessibility, can help inspire a love of reading among students.
                </p>
                <p class="pb-10">
                    Founded in Malta, Octavo became the pioneer in offering digital Maltese reading books to students of all levels. Within a year of launching, Octavo also became the beneficiary of an EU-funded project, which enabled us to offer over 260 Maltese books that have been levelled and approved by the Maltese National Literacy Agency. 
                </p>
                <p class="pb-10">
                    Octavo is constantly searching to team up with high quality publishers to offer its readers the best quality publications. Digital textbooks on Octavo allow publishers to customise the content and/or assessments to best meet the curriculum needs of that subject. This creates more flexibility and affordability when content updates are required. <br>
                </p>
                <p class="pb-10">
                    Plans are in the pipeline to expand our digital libraries to include oBooks spanning subjects from family and social values, to mental health, physical and human geography, environmental issues and biology.
                </p>
            </div>
            <div class="row">
                <h1>
                    About the Octavo App
                </h1>
                <p class="pt-20 pb-10">
                    More than just a digital reader, Octavo comprises four components to offer a holistic digital reading, publishing and educational experience for all. Octavo has been designed to revolutionise the way content is consumed and distributed, rather than simply convert traditional methods into a digital format. With this in mind, Octavo provides a superior reading environment that lets readers, learners, educators, publishers and authors thrive.
                </p>
                <p class="pb-10">
                    Content is streamed via the Octavo platform – available on web, android or iOS – and can be downloaded and accessed on any device, both online and offline. The user-friendly interface is also available in English, Maltese and Spanish, with more languages soon to be added to the list. With an ever-growing community of 35000+ users and more than 500 oBooks, Octavo plans on making thousands of oBooks available through its platform by the end of 2021.
                </p>
            </div>
        </div>
    </section>
    <!-- End about section -->