    <!-- Start stat-section -->
    <section class="stat-section section-gap aquablue-bg">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <h1>Benefits of Publishing with Octavo</h1>
                </div>
                </div>
                    <div class="row ex-porcess-wrap">
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="{{ 'img/stat/s5.png' | relative_url }}" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h5>Maintain control over pricing and licensing</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="{{ 'img/stat/s5.png' | relative_url }}" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h5>Maintain control over pricing and licensing</h5>                                </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="{{ 'img/stat/s5.png' | relative_url }}" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h5>Receive useful data insight into your audience’s reading habits</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="row ex-porcess-wrap mt-30">
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="{{ 'img/stat/s5.png' | relative_url }}" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h5>Choose your distribution channels</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="{{ 'img/stat/s5.png' | relative_url }}" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h5>No fees associated with platform set-up and maintenance</h5>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="{{ 'img/stat/s5.png' | relative_url }}" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h5>Maintain control over pricing and licensing</h5>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End stat-section -->
