<section class="execution-secation section-gap aquablue-bg">
    <div class="container">
        <div class="row justify-content-center section-title-wrap">
            <div class="col-lg-12">
                <h1>Make Data-Driven Decisions</h1>
                <p>
                    In the digital age, the best decisions are data-driven. Octavo provides automated analytical reports based on one or more levels within the hierarchical structure, from individual students and groups, to regional, national or international organisations. 
                </p>
                <p>
                    From tracking users’ reading times and comprehension abilities to conducting comparative analyses between various schools and organisations, Octavo enables organisations to generate custom-made reports based on accurate and current data, which can help inform your next steps – be it at an individual, group or national policy level. 
                </p>
                <p>
                    With Octavo, there’s no limit to your organisation’s structure. You can grow your network by connecting with international organisations to enable cross-border collaboration, share content licenses with members of other institutions and formulate policies specifically designed for modern learners.  
                </p>    
            </div>
        <!--
    </div>
        <div class="row justify-content-center pb-80">
            <div class="col-lg-8">
                <div class="static-execution-image">
                    <img class="img-fluid" src="{{ 'img/carusel/deployedoctavo.png' | relative_url }}" alt="">
                </div>
            </div>
        </div>
    </div>
    -->
</section>