    <!-- Start stat-section -->
    <section class="stat-section section-gap aquablue-bg">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <h1>Customisable Features for Readers</h1>
                </div>
            </div>

            
                    
                    <div class="row ex-porcess-wrap">
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="/img/all_new_icons/Educators_Icons/png/Personalise.png" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h4>Personalise</h4>
                                    <p>User-friendly and dyslexic-friendly fonts, font sizes and background colours</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="{{ 'img/all_new_icons/Educators_Icons/png/Search.png' | relative_url }}" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h4>Search</h4>
                                    <p>Filter your library and search for books easily</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="{{ 'img/all_new_icons/Educators_Icons/png/Take_Note.png' | relative_url }}" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h4>Take note</h4>
                                    <p>Bookmark pages and add notes anywhere in the text</p>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="row ex-porcess-wrap mt-30">
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="{{ 'img/all_new_icons/Educators_Icons/png/Record.png' | relative_url }}" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h4>Record</h4>
                                    <p>Self-record and playback audio</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="{{ 'img/all_new_icons/Educators_Icons/png/Playback.png' | relative_url }}" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h4>Playback</h4>
                                    <p>Listen to audio narration</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="{{ 'img/all_new_icons/Educators_Icons/png/Dictionary.png' | relative_url }}" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h4>Dictionary</h4>
                                    <p>Look up definitions through the built-in dictionary</p>
                                </div>
                            </div>
                        </div>
                    </div>
                            
                    <div class="row ex-porcess-wrap mt-30">
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="{{ 'img/all_new_icons/Educators_Icons/png/Auto_assess.png' | relative_url }}" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h4>Automated level assignment</h4>
                                    <p>Assign reading levels through beginning-of-year assessment</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="{{ 'img/all_new_icons/Educators_Icons/png/Finetune.png' | relative_url }}" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h4>Finetune levels</h4>
                                    <p>Manually alter reader levels</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-ex-process d-flex flex-row">
                                <div class="icon">
                                    <img src="{{ 'img/all_new_icons/Educators_Icons/png/Achievements.png' | relative_url }}" alt="">
                                </div>
                                <div class="desc ml-20">
                                    <h4>Achievements</h4>
                                    <p>Receive reading achievements based on your activity</p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </section>
    <!-- End stat-section -->
