    <!-- Start important-points section -->
    <section class="important-points-section section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 single-points aquablue-bg">
                    <img class="title-img" width="104" height="104" src="{{ 'img/feature/octavof/readingcontent.svg' | relative_url }}" alt="">
                    <h4>
                        Reading Content 
                    </h4>
                    <p>
                        Octavo offers users the possibility to sign up for an account and gain access to a digital library. Octavo readers may browse, buy, download and read obooks at any time from any device. The digital library offers content for everyone regardless of their age.  
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-points aquablue-bg">
                    <img class="title-img" width="104" height="104" src="{{ 'img/feature/octavof/digitaltextbooks.svg' | relative_url }}" alt="">
                    <h4>
                        Digital Textbooks
                    </h4>
                    <p>
                        Octavo is committed to education and the development of digital textbooks as an additional tool in the classroom. Octavo has its own unique design that flows from mobile, tablet and desktop environments which allows students to access their textbook from any device available.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-points aquablue-bg">
                    <img class="title-img" width="104" height="104" src="{{ 'img/feature/octavof/multiplepub.svg' | relative_url }}" alt="">
                    <h4>
                        Multi-Publisher
                    </h4>
                    <p>
                        Octavo launched in Malta and for the first time Maltese reading books are now available in digital format. The font on Octavo is highly adaptable compared to the fixed nature of printed texts. The possibility to offer content, in any languages including, is set to attract more publishers and hence a wider audience to the platform.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End important-points section -->