    <!-- Start important-points section -->
    <section class="important-points-section section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 single-points aquablue-bg">
                    <img class="title-img" width="104" height="104" src="{{ 'img/feature/octavof/readingcontent.svg' | relative_url }}" alt="">
                    <h4>
                        Engaging Content 
                    </h4>
                    <p>
                        Nowadays, students are more digitally literate than ever before. Our oBooks are designed to capture their attention and promote engaged learning for all levels.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-points aquablue-bg">
                    <img class="title-img" width="104" height="104" src="{{ 'img/feature/octavof/digitaltextbooks.svg' | relative_url }}" alt="">
                    <h4>
                        Digitised Curricula
                    </h4>
                    <p>
                        We believe that the future of education is digital. Ensure your textbooks can be accessed by all students from any device by digitising them with Octavo. 
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-points aquablue-bg">
                    <img class="title-img" width="104" height="104" src="{{ 'img/feature/octavof/multiplepub.svg' | relative_url }}" alt="">
                    <h4>
                        Diverse Publishers
                    </h4>
                    <p>
                        Students and teachers can access hundreds of oBooks released by different international publishers. Browse through our collections and curate your own digital library.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End important-points section -->