    <!-- Start important-points section -->
    <section class="important-points-section section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 single-points aquablue-bg">
                    <img class="title-img" width="104" height="104" src="{{ 'img/all_new_icons/Educators_Icons/Ever_growing_library.svg' | relative_url }}" alt="">
                    <h4>
                        An Ever-growing Library
                    </h4>
                    <p>
                        Join over 35000 users and access a diverse and expanding digital library of fun, engaging and educational oBooks!

                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-points aquablue-bg">
                    <img class="title-img" width="104" height="104" src="{{ 'img/all_new_icons/Educators_Icons/Levelling_the_playing_field.svg' | relative_url }}" alt="">
                    <h4>
                        Levelling the Playing Field
                    </h4>
                    <p>
                        Octavo allows users to stream content when an internet connection is present, and download oBooks to access offline through any device. 
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-points aquablue-bg">
                    <img class="title-img" width="104" height="104" src="{{ 'img/all_new_icons/Educators_Icons/Multilingual_community.svg' | relative_url }}" alt="">
                    <h4>
                        A Multilingual Community
                    </h4>
                    <p>
                        The Octavo interface is currently available in English, Maltese and Spanish, with more languages to be added soon. 
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End important-points section -->