
    <!-- End marketing-section -->
        <!-- Start unique-feature Area -->
        <section class="unique-feature-area">
            <div class="container-fluid">
                <div class="row justify-content-center section-title-wrap">
                    <div class="col-lg-12">
                        <h1>Self-Publishing Content with Octavo</h1>
                        <p>
                            If you’re an author, educator or publisher, our self-publishing system makes it easy to create your own content through the platform or digitise your existing publications. Our publishing team can also provide support in converting your content, sourcing artworks and designing your oBook.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block d-xl-block">

                    </div>
                    <div class="col-m-12 pl-5 pr-5">
                        <div>
                            <img class="float-right" src="{{ site.marketing_image_one | relative_url }}" alt="">
                        </div>
                    </div>
                    <div class="col-m-12 p-5">
                        <div class="feature-list d-flex flex-row">
                            <div class="icon">
                                <img class="img-fluid" src="{{ item.image | relative_url }}" alt="">
                            </div>
                            <div class="desc ml-40">
                                <a href="{{ item.link }}">
                                    <h4 class="mb-20">Design your oBooks</h4>
                                </a>
                                <p>
                                    After creating an account, you can design your oBooks using content blocks, imagery and comprehension exercises. 

                                </p>
                            </div>
                        </div>
                        <div class="feature-list d-flex flex-row">
                            <div class="icon">
                                <img class="img-fluid" src="{{ item.image | relative_url }}" alt="">
                            </div>
                            <div class="desc ml-40">
                                <a href="{{ item.link }}">
                                    <h4 class="mb-20">Choose your Price and Audience</h4>
                                </a>
                                <p>
                                    Before and after publishing, creators maintain full control over their content’s price, licenses and audiences. 
                                </p>
                            </div>
                        </div>
                        <div class="feature-list d-flex flex-row">
                            <div class="icon">
                                <img class="img-fluid" src="{{ item.image | relative_url }}" alt="">
                            </div>
                            <div class="desc ml-40">
                                <a href="{{ item.link }}">
                                    <h4 class="mb-20">Publish!</h4>
                                </a>
                                <p>
                                    Your oBook will be published using your unique publishing imprint, allowing you to maintain ownership of your works at all times. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 d-m-none">
                            
                    </div>
                </div>
            </div>
        </section>
        <!-- End unique-feature Area -->
