    <!-- Start stat-section -->
    <section class="stat-section section-gap">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <h1>{{ site.statistics_title }}</h1>
                    <p>
                        {{ site.statistics_description }}
                    </p>
                </div>
            </div>

            <div class="row align-items-center">
                <div class =col-lg-12 col-md-12">    
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-stat">
                                <div class="icon">
                                    <img src="img/stat/octavos/difflearning.svg" alt="">
                                </div>
                                <div class="desc">
                                    <a href="#" class="d-block">
                                        <h4>Enable differentiated teaching </h4>
                                    </a>
                                    <p>
                                        Octavo enables differentiated learning of the same learning outcome; allowing students to learn at their own pace and in their own style to meet his/her individual needs. Each student can tailor the presentation of the content; whilst the content difficulty can be adapted automatically for each student and students can be grouped with content that meets their interest. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-stat">
                                <div class="icon">
                                    <img src="img/stat/octavos/literacytools.svg" alt="">
                                </div>
                                <div class="desc">
                                    <a href="#" class="d-block">
                                        <h4>Literacy Tools</h4>
                                    </a>
                                    <p>
                                        Octavo provides several tools to enable literacy programmes: including multiple levelled reading scales for content, an embedded dictionary, read along and self record options, as well as comprehensions checks via fun activities. It also allows teachers and education providers to add the literacy tools they require to achieve their teaching goals.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-stat">
                                <div class="icon">
                                    <img src="img/stat/octavos/customtextbk.svg" alt="">
                                </div>
                                <div class="desc">
                                    <a href="#" class="d-block">
                                        <h4>Build custom textbooks</h4>
                                    </a>
                                    <p>
                                        Publishers and/or educators may develop their own textbook on Octavo supported by the team at Octavo that includes a publishing and a technical team. The textbook features amongst others allow for automated exercises to be included as a way of assessing the learning achieved by students.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-stat">
                                <div class="icon">
                                    <img src="img/stat/octavos/autoassess.svg" alt="">
                                </div>
                                <div class="desc">
                                    <a href="#" class="d-block">
                                        <h4>Automated assessment</h4>
                                    </a>
                                    <p>
                                        Octavo aims to facilitate the role of the educator whilst encouraging student independent learning. Automated assessment is a tool that helps achieve both. Once the assessment is set each student can work at his pace receiving an immediate result on the assessment done. Students may be automatically directed to the next level of difficulty allowing for differentiated learning both at school and at home.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-stat">
                                <div class="icon">
                                    <img src="img/stat/octavos/oneclickrep.svg" alt="">
                                </div>
                                <div class="desc">
                                    <a href="#" class="d-block">
                                        <h4>One click reports</h4>
                                    </a>
                                    <p>
                                        Educators are now able to monitor their student's progress by looking from a birds eye view or zooming in on one single student. <br>  Similarly school administrators can monitor their schools metrics and make decisions on curriculum based on data pulled from the reports provided.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-stat">
                                <div class="icon">
                                    <img src="img/stat/octavos/sso.svg" alt="">
                                </div>
                                <div class="desc">
                                    <a href="#" class="d-block">
                                        <h4>Single Sign On (SSO)</h4>
                                    </a>
                                    <p>
                                        Logging in to each tool with a different set of credentials can be daunting and time wasting.  To avoid the stress caused by this on both educator and learner we provide a number of SSO options that can be utlised.  This provides a streamlined login experience that enables educators and learners to focus on the content rather than the tool.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>    
            </div>
        </div>
    </section>
    <!-- End stat-section -->
