    <!-- Start stat-section -->
    <section class="stat-section section-gap">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <h1>{{ site.statistics_title }}</h1>
                    <p>
                        {{ site.statistics_description }}
                    </p>
                </div>
            </div>

            <div class="row align-items-center">
                <div class =col-lg-12 col-md-12">    
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-stat">
                                <div class="icon">
                                    <img src="img/all_new_icons/Educators_Icons/Differentiated_teaching.svg" alt="">
                                </div>
                                <div class="desc">
                                    <a href="#" class="d-block">
                                        <h4>Enable differentiated teaching </h4>
                                    </a>
                                    <p>
                                        With Octavo, students can learn at their own pace and in their own way to reach shared goals. Presentation of content can be customised and texts can be adapted according to the difficulty level and interests of individual students. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-stat">
                                <div class="icon">
                                    <img src="img/all_new_icons/Educators_Icons/Literacy_tools.svg" alt="">
                                </div>
                                <div class="desc">
                                    <a href="#" class="d-block">
                                        <h4>Literacy Tools</h4>
                                    </a>
                                    <p>
                                        Multiple levelled-reading scales for content, an embedded dictionary, read-along and self-record options and comprehension checks through fun activities allow teachers to facilitate literacy among students and fulfil their educational goals. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-stat">
                                <div class="icon">
                                    <img src="img/all_new_icons/Educators_Icons/Build_custom_textbooks.svg" alt="">
                                </div>
                                <div class="desc">
                                    <a href="#" class="d-block">
                                        <h4>Build custom textbooks</h4>
                                    </a>
                                    <p>
                                        Develop your own uniquely-designed digital textbooks using text blocks, images and automated comprehension exercises to assess students’ learning progress, with assistance from our technical and publishing team!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-stat">
                                <div class="icon">
                                    <img src="img/all_new_icons/Educators_Icons/Automated_assessment.svg" alt="">
                                </div>
                                <div class="desc">
                                    <a href="#" class="d-block">
                                        <h4>Automated assessment</h4>
                                    </a>
                                    <p>
                                        Finding the right balance between hands-on teaching and independent learning is facilitated by Octavo’s automated assessment feature. Students can learn at their own pace and advance to higher levels of difficulty according to their progress. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-stat">
                                <div class="icon">
                                    <img src="img/all_new_icons/Educators_Icons/One_click_reports.svg" alt="">
                                </div>
                                <div class="desc">
                                    <a href="#" class="d-block">
                                        <h4>One click reports</h4>
                                    </a>
                                    <p>
                                        Educators can monitor their student's progress through a birds-eye view, or focus their attention on one student at a time. Administrators may also monitor the school’s metrics to make decisions on curricula based on data pulled from reports.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-stat">
                                <div class="icon">
                                    <img src="img/all_new_icons/Educators_Icons/SSO.svg" alt="">
                                </div>
                                <div class="desc">
                                    <a href="#" class="d-block">
                                        <h4>Single Sign On (SSO)</h4>
                                    </a>
                                    <p>
                                        Streamlining the log-in process makes it easier for students and educators to access Octavo. We provide several SSO options, allowing users to connect their Octavo account to their email or social network accounts.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>    
            </div>
        </div>
    </section>
    <!-- End stat-section -->
