    <!-- Start unique-feature Area -->
    <section class="unique-feature-area section-gap">
        <div class="container-fluid">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <h1>{{ site.unique_feature_title }}</h1>
                    <p>
                        {{ site.unique_feature_description }}
                    </p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 pr-5">
                    <div class="static-execution-image">
                        {% for carusel in site.unique_feature_main_image %}
                        <img class="img-fluid" src="{{ carusel['image'] | relative_url }}" alt="">
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6 pl-4">
                    <div class="feature-list d-flex flex-row">
                        <div class="icon">
                            <img class="img" src="img/feature/octavof/lti.png" alt="">
                        </div>
                        <div class="desc ml-40">
                            <a href="#">
                                <h4 class="mb-20">Learning Tools Interoperability (LTI) Ready</h4>
                            </a>
                            <p>
                                Octavo's commitment to the LTI standard ensures our customers can integrate Octavo with services they currently use. 
                            </p>
                        </div>
                    </div>
                    <div class="feature-list d-flex flex-row">
                        <div class="icon">
                            <img class="img" src="img/feature/octavof/byod.png" alt="">
                        </div>
                        <div class="desc ml-40">
                            <a href="#">
                                <h4 class="mb-20">BYOD Friendly</h4>
                            </a>
                            <p>
                                BYOD enables education institutes to make savings on infrastructure whilst providing their learners the option to use their prefered device of choice.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End unique-feature Area -->